body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #1a1a1a; /* Cor de fundo preta */
    color: #f4f4f4; /* Cor do texto branca */
}

header {
    background-color: #0a0a0a; /* Cor de fundo preta */
    color: #f4f4f4; /* Cor do texto branca */
    padding: 40px 0;
}

nav .menu ul.grid li a {
    color: #f4f4f4; /* Cor dos links no menu */
}

nav .logo {
    color: #32CD32; /* Verde escuro para o logo */
}

h1, h2 {
    color: #32CD32; /* Verde escuro para títulos */
}

section {
    padding: 20px;
    margin: 10px 0;
    background-color: #262626; /* Verde escuro para fundo das seções */
    border-radius: 5px;
}

img {
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #0a0a0a; /* Cor de fundo preta */
    color: #f4f4f4; /* Cor do texto branca */
    text-align: center;
    padding: 10px 0;
}

.button {
    background-color: #32CD32; /* Verde escuro para botões */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #228B22; /* Verde ainda mais escuro ao passar o mouse */
}

.grid .card {
    background-color: #333333; /* Cor do fundo das cards em cinza escuro */
    color: #f4f4f4; /* Cor do texto dentro dos cards */
}

.grid .card h3 {
    color: #32CD32; /* Verde escuro para títulos dos cards */
}

.back-to-top {
    background-color: #32CD32; /* Verde escuro para o botão de voltar ao topo */
    color: #ffffff;
}

.back-to-top:hover {
    background-color: #228B22; /* Verde ainda mais escuro ao passar o mouse */
}
